*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}



.icon
{
    color: white;
    text-align: center;
    font-size: 25px;

    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    
}

.icon2
{
    color: #ffa600;
    
    font-size: 15px;

    margin-left: 20px;
    margin-top: 4px;
    
    width: 20px;
    
}

.bok
{
    float: left;
    background: linear-gradient(to right, rgb(225, 159, 38), #ffa600);
    width: 300px;
    min-height: 1200px;
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    
}

.main
{
    float: left;
    background-color: #ffffff;
    width: 900px;
    min-height: 1200px;
    padding: 10px;
    margin-top: 25px;
    
    margin-bottom: 20px;
}

.name
{
    font-family: 'Marcellus SC', sans-serif;
    color: #ff9100;
    background-color: #ffffff;
    font-size: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.head
{
    font-family: 'Marcellus SC', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 15px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    
    

}

.description
{
    
    background-color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    margin-left: 20px;
}

.desc
{
    color: #000000;
    
    font-size: 20px;
    margin-left: 5px;
    
    margin-right: 20px;
    position: relative;
}

.description:before
{
    content: "";
    position: absolute;
    top: 150px;
    right: 0;
    width: 880px;
    height: 1px;
    
    background: dimgrey;
}

.profile
{
    
    width: 200px;
    border-radius: 1000px;
    
    margin-bottom: 40px;
    margin-right: 25px;
    margin-left: 40px;
    
    float: left;
    box-shadow: 0 0 4px 3px #ffffff;
}

.profile:hover
{
    box-shadow: 0 0 10px 5px #000000;
    cursor: pointer;
}

.text1
{
    
    margin-top: 5px;
    color: #ffffff;
    font-style:italic;
    font-size: 20px;
}

.li_wrap
{
    margin-bottom: 15px;
    display: flex;
    text-align: center;
}

.head2
{
    font-family: 'Marcellus SC', sans-serif;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    
    

}
.text2
{
    font-size: 21px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    font-weight: bold;
}

.date
{
    letter-spacing: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 10px;
}

.school
{
    margin-left: 20px;
}